@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SignalRProject</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="chat-container" id="messagesList">
    </div>
    <div class="send-message-form">
        <div class="row input-group">
            <div class="col-2 text-center-padding">User</div>
            <div class="col-3 "><input type="text" id="userInput" value="Dima" /></div>
            <div class="col-2 text-center-padding">Message</div>
            <div class="col-3"><input type="text" id="messageInput" /></div>
            <div class="col-2">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
</div>

