@{

    ViewData["Title"] = "Chat Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="jumbotron">
        <div class="container">
            <h6 class="display-4">Greating in chat app, choose your room!</h6>
        </div>
    </div>
    <div class="container" id="chatBody">
        <p class="alert alert-warning text-center" id="roomName"></p>
        <div class="chat-container" id="messagesList">
        </div>
        <div class="users-container" id="userList">
        </div>
        <div class="send-message-form">
            <div class="row input-group">
                <div class="col-1 text-center-padding">Message</div>
                <div class="col-8">
                    <textarea id="messageInput"></textarea>
                </div>
                <div class="col-1">
                    <button class="btn btn-success btn-block" id="sendButton" onclick="SendMassage()"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script>

        var userId = '@User?.Claims?.FirstOrDefault()?.Value';

    </script>
@{
    await Html.RenderPartialAsync("~/Views/Shared/Partials/CreateNewRoom.cshtml");
}