@{

    ViewData["Title"] = "Chat Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="jumbotron">
        <div class="container">
            <h6 class="display-4">Greating in chat app, choose your room!</h6>
        </div>
    </div>

@{
    await Html.RenderPartialAsync("~/Views/Shared/Partials/CreateNewRoom.cshtml");
}